:root {
	--neon-inner: #b3c6c4;
	--neon-outer: #c0c6c5;
	--completed-todo: rgba(46, 163, 150, 0.5);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	min-height: 100vh;
	background: url('img-2.avif') center/cover no-repeat;
}

.todo__wrapper {
	width: 100%;
	max-width: 450px;
	margin: 20px auto 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 1em;
	background: rgba(255, 255, 255, 0.2) -1.3%;
	box-shadow: rgba(19, 19, 19, 0.567) 6px 2px 16px 0px,
		rgba(5, 5, 5, 0.67) -6px -2px 16px 0px;

	.quote-wrapper {
		width: 95%;
		padding: 5px 10px;
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		* {
			color: #b3c6c4;
			margin: 0;
		}

		.quote-title {
			font-weight: 600;
		}
		.quote-text {
			margin-bottom: 15px;
			font-weight: 300;
		}

		&::after {
			content: '';
			width: 90%;
			height: 1px;
			background-color: #beb4b466;
		}
	}

	.time-container {
		margin: 10px auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: #fff;

		.current-date {
			font-weight: 100;
			color: lightgrey;
			text-shadow: 1px 4px 3px #100f0f8f;
		}
		.current-time {
			font-size: 80px;
			color: lightgrey;
			text-shadow: 1px 4px 3px #100f0f8f;
		}
		.dayOfWeek {
			font-weight: 300;
			font-size: 25px;
			text-transform: uppercase;
			text-shadow: 1px 4px 3px #100f0f8f;
		}
	}

	h1 {
		margin: 0;
		padding: 0 0 0 0;
		font-size: 40px;
		text-transform: uppercase;
		font-weight: 300;
		color: #fff;
		text-shadow: 1px 4px 3px #100f0f8f;
		user-select: none;
		text-align: center;
	}

	.container {
		padding: 10px 10px 10px 10px;
		margin: 0 auto;
		width: 100%;
		max-width: 400px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}
}

.todo-container {
	.todo-item {
		color: #fff;
	}
}

.search-input {
	width: 100%;
	max-width: 450px;
	height: 40px;
	border-radius: 0.5em;
	padding: 0 10px;
	background: none;
	border: none;
	outline: 1px solid grey;
	font-size: 16px;
	color: #100f0f;
	transition: 0.22s box-shadow;

	&::placeholder {
		color: #d6d5d5;
		font-size: 16px;
		font-style: italic;
		font-weight: 100;
	}
	&:focus-visible {
		box-shadow: 0 0 20px 5px var(--neon-outer),
			inset 0 0 15px 5px var(--neon-inner);
	}
}

.todo-container {
	width: 85%;
	max-width: 450px;
	margin: 5px auto 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	gap: 8px;
}

.todo-item {
	padding: 0 10px;
	height: 35px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 24px;
	border: 1px solid rgb(206, 204, 204);
	border-radius: 0.5em;
}

.todo-item span {
	pointer-events: none; /*позволят кликать по элементу, когда кликаешь по тексту*/
	user-select: none;
}

.todo-item.completed {
	background-color: var(--completed-todo);
	border: none;
}

.todo-item.completed span {
	text-decoration: line-through;
}

.todo-item:hover {
	border: 1px solid var(--neon-inner);
	box-shadow: 0 0 10px 5px var(--neon-outer),
		inset 0 0 15px 5px var(--neon-inner);
	color: #353333;
}
