:root {
	--neon-inner: #b3c6c4;
	--neon-outer: #c0c6c5;
	--completed-todo: rgba(46, 163, 150, 0.5);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	min-height: 100vh;
	background: url('img/img-2.avif') bottom/cover no-repeat;
	background-attachment: fixed;
}

.todo__wrapper {
	width: 100%;
	max-width: 450px;
	margin: 20px auto 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 1em;
	box-shadow: rgba(19, 19, 19, 0.567) 6px 2px 16px 0px,
		rgba(5, 5, 5, 0.67) -6px -2px 16px 0px;
	backdrop-filter: blur(2px);
}

.todo__wrapper .quote-wrapper {
	width: 95%;
	padding: 5px 10px;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.todo__wrapper .quote-wrapper * {
	color: #b3c6c4;
	margin: 0;
}

.todo__wrapper .quote-wrapper .quote-title {
	font-weight: 600;
}

.todo__wrapper .quote-wrapper .quote-text {
	margin-bottom: 15px;
	font-weight: 300;
}

.todo__wrapper .quote-wrapper::after {
	content: '';
	width: 70%;
	height: 1px;
	background-color: #beb4b466;
}

.todo__wrapper .time-container {
	margin: 10px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.todo__wrapper .time-container .current-date {
	font-weight: 100;
	color: lightgrey;
	text-shadow: 1px 4px 3px #100f0f8f;
}

.todo__wrapper .time-container .current-time {
	font-size: 80px;
	color: lightgrey;
	text-shadow: 1px 4px 3px #100f0f8f;
}

.todo__wrapper .time-container .dayOfWeek {
	font-weight: 100;
	font-size: 30px;
	color: lightgrey;
	letter-spacing: 8px;
	text-transform: uppercase;
	text-shadow: 1px 4px 3px #100f0f8f;
}

.todo__wrapper h1 {
	margin: 0;
	padding: 0 0 0 0;
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 300;
	color: #fff;
	text-shadow: 1px 4px 3px #100f0f8f;
	user-select: none;
	text-align: center;
}

.todo__wrapper .container {
	padding: 10px 10px 10px 10px;
	margin: 0 auto;
	width: 100%;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.todo-container .todo-item {
	color: #fff;
}

.search-input {
	width: 100%;
	max-width: 450px;
	height: 40px;
	border-radius: 0.5em;
	padding: 0 10px;
	background: none;
	border: none;
	outline: 1px solid grey;
	font-size: 16px;
	color: #fff;
	transition: 0.22s box-shadow;
}

.search-input::placeholder {
	color: #c0bebe;
	font-size: 16px;
	font-size: 13px;
	font-style: italic;
	font-weight: 100;
}

.search-input:focus-visible {
	box-shadow: 0 0 20px 5px var(--neon-outer),
		inset 0 0 15px 5px var(--neon-inner);
}

.todo-container {
	width: 85%;
	max-width: 450px;
	margin: 5px auto 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	gap: 8px;
}

.todo-item {
	padding: 0 10px;
	height: 35px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 24px;
	border: 1px solid rgb(206, 204, 204);
	border-radius: 0.5em;
}

.todo-item span {
	pointer-events: none;
	user-select: none;
}

.todo-item.completed {
	background-color: var(--completed-todo);
	border: none;
}

.todo-item.completed span {
	text-decoration: line-through;
}

.todo-item:hover {
	border: 1px solid var(--neon-inner);
	box-shadow: 0 0 10px 5px var(--neon-outer),
		inset 0 0 15px 5px var(--neon-inner);
	color: lightgrey;
}
